/* large */
@media (max-width: 1450px) {
	.wrapper {
		max-width: 1010px;
		margin: 0 auto;
	}
	.header {
		padding-top: 80px;
	}
	.info {
		margin: 400px 0 0 0;
		padding-bottom: 373px;
	}
	.honeycomb-cells {
		flex-wrap: wrap;
	}
	.honeycomb {
		padding: 0 80px;
	}
	.first-cell {
		order: 1;
	}
	.second-cell {
		order: 2;
	}
	.third-cell {
		order: 3;
	}
	.fourth-cell {
		order: 4;
		margin: 0px 0px 0px 434px;
	}
	.fifth-cell {
		order: 5;
		margin: 0px 0px 0px 185px;
		position: absolute;
		bottom: -26.5%;
		left: 8%;
		z-index: 1;
	}
	.sample-cell {
		left: 32.6%;
		top: 26.5%;
	}
	.garanties-cell {
		right: 0%;
		left: 7.7%;
		top: 51.5%;
	}
	.five-steps-cell {
		position: absolute;
		top: -54%;
		left: 8%;
	}
	.call-cell {
		position: absolute;
		top: 103%;
		left: 8%;
	}
}

/* medium */
@media (max-width: 1120px) {
	.wrapper {
		max-width: 600px;
		margin: 0 auto;
		padding: 0;
	}
	.header__title {
		text-align: center;
	}
	.info {
		margin: 300px 0 0 0;
		padding-bottom: 651px;
	}
	.honeycomb {
		padding: 0 20px;
	}
	.honeycomb-cell {
		margin: 0 -20px;
	}
	.honeycomb-cells {
		justify-content: center;
	}
	.first-cell {
		margin: 0px 250px 0px 0px;
	}
	.second-cell {
		margin: -140px 0px 0px 250px;
	}
	.third-cell {
		margin: -130px 250px 0px 0px;
	}
	.fourth-cell {
		margin: -140px 0px 0px 250px;
	}
	.fifth-cell {
		bottom: -21%;
		left: 7%;
	}
	.five-steps-cell {
		top: -22%;
		left: 48%;
	}

	.sample-cell {
		top: 102%;
		left: 49%;
	}
	.garanties-cell {
		top: 123%;
		left: 7%;
	}
	.call-cell {
		top: 143%;
		left: 49%;
	}
}

/* small */
@media (max-width: 680px) {
	.wrapper {
		max-width: 480px;
		margin: 0 auto;
	}
	.header__title {
		font-size: 65px;
	}
	.info {
		margin: 215px 0 0 0;
		padding-bottom: 451px;
	}
	.honeycomb-cell {
		background: url('../../../../../../maximusMedia__test-task/deploy/working/assets/icons/polygon-blue__small.png');
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		width: 222px;
		height: 222px;
	}
	.honeycomb-cell__desk {
		margin-top: 8px;
		font-size: 16px;
	}
	.honeycomb-cell__desk-forecast {
		margin-top: 10px;
		font-size: 12px;
	}
	.honeycomb-cell__img {
		margin-top: 50px;
		width: 25%;
	}
	.title {
		font-size: 50px;
		top: -14%;
		color: #f1606e;
	}
	.first-cell {
		margin: 0px 175px 0px 0px;
	}
	.second-cell {
		margin: -120px 0px 0px 170px;
	}
	.third-cell {
		margin: -123px 177px 0px 0px;
	}
	.fourth-cell {
		margin: -120px 0px 0px 170px;
	}
	.fifth-cell {
		bottom: -19%;
		left: 13%;
	}
	.five-steps-cell {
		background: url('../../../../../../maximusMedia__test-task/deploy/working/assets/icons/polygon-grey__medium.png');
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		width: 222px;
		height: 222px;
		top: -24%;
		left: 49%;
	}

	.five-steps-cell__title {
		font-size: 130px;
		top: -50%;
	}
	.five-steps-cell__desk {
		margin-top: 98px;
		font-size: 21px;
		line-height: 24px;
	}
	.call-cell {
		background: url('../../../../../../maximusMedia__test-task/deploy/working/assets/icons/polygon-red__small.png');
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		width: 222px;
		height: 222px;
		top: 134%;
	}
	.sample-cell {
		background: url('../../../../../../maximusMedia__test-task/deploy/working/assets/icons/polygon-grey__medium.png');
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		width: 222px;
		height: 222px;
		top: 96%;
		left: 50%;
	}
	.garanties-cell {
		background: url('../../../../../../maximusMedia__test-task/deploy/working/assets/icons/polygon-grey__medium.png');
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		width: 222px;
		height: 222px;
		top: 115%;
		left: 13%;
	}
	.call-cell__arrow-top {
		margin-bottom: 10px;
	}
	.call-cell__arrow-bottom {
		margin-top: 10px;
	}
	.call-cell__desk {
		padding-top: 10px;
		font-size: 18px;
	}
}

/* exstra small */
@media (max-width: 480px) {
	.wrapper {
		max-width: 300px;
		margin: 0 auto;
		padding: 0 10px;
	}
	.header__title {
		font-size: 50px;
	}
	.info {
		margin: 276px 0 0 0;
		padding-bottom: 851px;
	}
	.honeycomb-cell:hover {
		transform: scale(1.1);
		transition: 0.5s;
	}
	.first-cell {
		margin: 0px 79px 0px 0px;
	}
	.second-cell {
		margin: -25px 0px 0px 79px;
	}
	.third-cell {
		margin: -25px 79px 0px 0px;
	}
	.fourth-cell {
		margin: -25px 0px 0px 79px;
	}
	.fifth-cell {
		bottom: -24.4%;
		left: 7%;
	}
	.garanties-cell {
		top: 146%;
		left: 7%;
	}
	.sample-cell {
		top: 121.6%;
		left: 32%;
	}
	.call-cell {
		top: 170.5%;
		left: 20%;
	}
	.five-steps-cell {
		top: -27%;
		left: 7%;
	}
}
