body {
	font-family: 'PT Root UI', 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	min-width: 320px;
	height: 100%;
	position: relative;
	/* overflow-x: hidden; */
	color: #000;
}

.wrapper {
	max-width: 1310px;
	margin: 0 auto;
	padding-left: 100px;
}
